<link rel="import" href="fm-file.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<dom-module id="fm-app">
  <!-- Optional shadow DOM template -->
  <template>
    <style>
      #nav {
        position: absolute;
        z-index: 10;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
        background: #2196F3;
        width: 100%;
        height: 60px;
      }
      #footer {
        display: none;
      }
      .choosePath #footer {
        display: block;
          background: var(--paper-blue-600);
    height: 40px;
    width: 100%;
    z-index: 1000;
    position: absolute;
    bottom: 0px;
      }

      .choosePath #footer paper-input {
            margin-left: 20px;
    color: white;
    width: 300px;
    margin-top: -22px;
    --paper-input-container-color: rgba(256,256,256,0.8);
      --paper-input-container-focus-color: var(--primary-color, #C62828);
      --paper-input-container-input-color: white;
      }

      #wrapper {
        justify-content: space-around;
        background: white;
        /* flex-wrap: wrap; */
        align-items: stretch;
        width: 100%;
        position: absolute;
        z-index: 1;
        height: calc(100% - 60px);
        display: flex;
        top: 60px;
        left: 0;
        align-content: stretch;
      }
      .choosePath #wrapper {
        height: calc(100% - 100px);
      }

      #content {
        /* overflow-y: scroll; */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.19);
        z-index: 3;
        /* width: 70%; */
        background: white;
        display: flex;
        /* flex-wrap: wrap; */
        /* justify-content: space-around; */
        overflow: auto;
      }

      #row {
        display: flex;
      }

      #row:last-child {
        width: 100%;
      }

      #content td {
        vertical-align: top;
      }

      #breadcrumbs {
        height: 40px;
        font-size: 25px;
        padding: 3px 15px;
        margin: 0;
        list-style: none;
        display: inline-flex;
        color: white;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
        line-height: 25px;
        background: var(--paper-blue-600);
        border-radius: 10px;
      }

      #breadcrumbs iron-icon {
        height: 25px;
        width: 25px;
      }

      .delim {
        margin: 0 10px;
      }

      #nav {
        display: flex;
      }

      .breadcrumb {
        list-style: none;
        overflow: hidden;
        font: 21px Helvetica, Arial, Sans-Serif;
        margin: auto;
        padding: 0;
        margin-left: 0px;
      }

      .breadcrumb li {
        float: left;
      }

      .breadcrumb li a {
        color: white;
        text-decoration: none;
        padding: 10px 0 10px 45px;
        background: var(--paper-blue-600);
        /* fallback color */
        position: relative;
        display: block;
        float: left;
        transition: background .3s;
        cursor: pointer;
      }

      .breadcrumb li a:after {
        transition: border-left-color .3s;
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 24px solid var(--paper-blue-600);
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
      }

      .breadcrumb li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 27px solid var(--paper-blue-500);
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
      }

      .breadcrumb li:first-child a {
        padding-left: 10px;
      }

      .breadcrumb li:last-child a {
        padding-right: 10px;
      }

      .breadcrumb li:last-child a:after {
        border: 0;
      }

      .breadcrumb li a:hover {
        background: var(--paper-blue-700);
      }

      .breadcrumb li a:hover:after {
        border-left-color: var(--paper-blue-700);
      }

      #history-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        color: white;
      }

      #history-buttons paper-icon-button {
        width: 50px;
        height: 50px;
      }

      #content::-webkit-scrollbar {
        width: 4px;
      }

      #content::-webkit-scrollbar-thumb {
        background: var(--paper-blue-300);
        width: 4px;
      }

      #sidebar {
        min-width: 230px;
        color: #424242;
        width: 230px;
        background: #fafafa;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        box-sizing: border-box;
      }

      #sidebar span {
        cursor: pointer;
        line-height: 1em;
        display: flex;
        padding: 10px;
        align-items: center;
        transition: background .2s, color .2s;
      }

      #sidebar span iron-icon {
        margin-right: 10px;
      }

      #sidebar span.active {
        color: var(--paper-blue-500);
        background: rgba(179, 229, 252, 0.46);
      }

      table {
        box-sizing: border-box;
        /* max-width: 550px; */
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
      }

      table thead tr {
        border-bottom: 1px solid #d0d0d0;
      }

      #name-title {
        width: 100%;
        border-right: 1px solid #d0d0d0;
        text-align: left;
      }

      #date-title {
        width: 100px;
        border-right: 1px solid #d0d0d0;
        text-align: right;
      }

      #size-title {
        width: 100px;
      }

      #name-title,
      #date-title,
      #size-title {
        font-weight: 400;
        padding: 10px;
      }

      .size,
      .name,
      .date {
        color: #848484;
        font-size: .9em;
        padding: 10px;
      }

      .date {
        text-align: right;
      }

      .size {
        text-align: right;
      }

      .name {
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        width: 100%;
      }

      .name span {
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        width: 100%;
      }

      .name span img {
        margin-right: 10px;
        padding: 0;
        height: 25px;
        width: 25px;
      }

      table * {
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
      }

      paper-fab {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 100500;
      }
    </style>

    <!-- shadow DOM for your element -->

    <div id="app">
      <div id="nav">
        <div id="history-buttons">
          <paper-icon-button icon="hardware:keyboard-arrow-left"></paper-icon-button>
          <paper-icon-button icon="hardware:keyboard-arrow-right"></paper-icon-button>
        </div>
        <ul class="breadcrumb">
          <li>
            <a>
              <iron-icon icon="hardware:desktop-windows"></iron-icon>
            </a>
          </li>
          <li><a>home</a></li>
          <li><a>lunavod</a></li>
        </ul>
      </div>
      <div id="wrapper">
        <div id="sidebar">
          <span data-path="~">
            <iron-icon icon="icons:home"></iron-icon>
            Home
          </span>
          <span data-path="~/Загрузки">
            <iron-icon icon="icons:file-download"></iron-icon>
            Downloads
          </span>
          <span data-path="~/Изображения">
            <iron-icon icon="image:photo-size-select-actual"></iron-icon>
            Images
          </span>
          <span data-path="~/Документы">
            <iron-icon icon="editor:insert-drive-file"></iron-icon>
            Documents
          </span>
          <span data-path="~/Музыка">
            <iron-icon icon="av:queue-music"></iron-icon>
            Music
          </span>
          <span data-path="~/Видео">
            <iron-icon icon="av:videocam"></iron-icon>
            Video
          </span>
          <span data-path="~/Рабочий стол">
            <iron-icon icon="hardware:desktop-windows"></iron-icon>
            Desktop
          </span>
        </div>

        <div id="content">
          <table>
            <thead>
              <tr>
                <th id="name-title">Name</th>
                <th id="date-title">Date</th>
                <th id="size-title">Size</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
        <div id="footer">
          <paper-input></paper-input>
          <paper-fab id="choose" onclick={{submitDir}} icon="check"></paper-fab>
        </div>
    </div>
  </template>

  <script>
    // Define the element's API using an ES2015 class
    var $ = require('jquery')
    var fs = require('fs')
    var dateFormat = require('dateformat')
    var os = require('os')

    class FMApp extends Polymer.Element {

      getEl() {
        return this
      }

      submitDir() {
        console.log("SUBMIT", $($('fm-app')[0].getEl().$.app).find('paper-input').val(), $($('fm-app')[0].getEl().$.app).find('paper-input'))
        // __args.callback()

        ipcRenderer.sendToHost("emit", __args.event, $('fm-app')[0].directory+"/"+$($('fm-app')[0].getEl().$.app).find('paper-input').val())
        window.close()
      }

      renderDir(dir) {
        if (!dir) {
          dir = this.directory
        } else {
          this.directory = dir
        }

        if (!dir.endsWith("/")) {
          dir += "/"
        }

        let dp = dir.replace(os.homedir(), '~')
        dp = dp.slice(0, dp.length - 1)
        if ($(this.$.app).find(`#sidebar [data-path="${dp}"]`).length) {
          $(this.$.app).find(`#sidebar span.active`).removeClass('active')
          $(this.$.app).find(`#sidebar [data-path="${dp}"]`).addClass('active')
        }
        console.log(dp)
        var items = fs.readdirSync(dir).map(function (item) {
          return {
            name: item,
            stats: fs.statSync(dir + item)
          }
        })
        let path = dir.split('/')
        path.pop()
        let bc = $(this.$.app).find('.breadcrumb')
        bc.find('li').remove()
        path.map(function (v, k) {
          if (!v) {
            v = '<iron-icon icon="hardware:desktop-windows"></iron-icon>'
          }
          let p = path.slice(0, k + 1).join('/') || '/'
          console.log(path.slice(0, k) || '/', path.slice(0, k))
          bc.append(`<li data-path="${p}"><a>${v}</a></li>`)
        })

        this.renderFiles(items, dir)
      }

      renderFiles(files, dir) {
        if (!$(this.$.app).find('#content').width()) {
          return
        }
        $(this.$.app).find('#content tbody *').remove()
        let files_n = Math.floor($(this.$.app).find('#content').width() / 100)
        console.log(files_n, $(this.$.app).find('#content').width())
        let rows_n = Math.ceil(files.length / files_n)
        let last_file = 0
        window.files = files
        window.files_n = files_n
        window.rows_n = rows_n
        window.content = $(this.$.app).find('#content')
        console.log(files_n, rows_n)
        files.map(function (file) {
          let ext = file.name.slice(file.name.lastIndexOf('.') + 1)
          console.log(ext)
          let preview = 'icons/text.png'
          if (['png', 'jpg', 'jpeg', 'svg'].indexOf(ext) >= 0) {
            preview = 'file://' + dir + file.name
            console.log('image', preview)
          }
          if (ext == 'mp3') {
            preview = 'icons/audio.png'
          }
          if (ext == 'gif') {
            preview = 'icons/image.png'
          }

          if (ext == 'py') {
            preview = 'icons/python.png'
          }

          if (ext == 'zip') {
            preview = 'icons/archive.png'
          }

          if (!file.stats.isFile()) {
            preview = 'icons/folder.png'
          }

          console.log(preview)

          $(this.$.app).find('#content tbody').append(
            `<tr data-${file.stats.isFile()? "file":"path"}="${dir+file.name}"><td class="name"><span><img src="${preview}" />${file.name}</span></td><td class="date">${dateFormat(file.stats.ctime, 'd.mm.yyyy')}</td><td class="size">${file.stats.size}</td></tr>`
          )
        }.bind(this))
        $(this.$.app).find('[data-path]').off('click')
        $(this.$.app).find('[data-file]').off('click')
        $(this.$.app).find('[data-path]').click(function (e) {
          console.log($(this).data('path').replace('~', os.homedir()))
          $('fm-app')[0].renderDir($(this).data('path').replace('~', os.homedir()))
        })
        $(this.$.app).find('[data-file]').click(function (e) {
          ipcRenderer.sendToHost('openFile', $(this).data('file'))
        })
      }

      ready() {
        super.ready()


        if (!this.directory) {
          this.directory = window.__args.directory || os.homedir()
        }
        // $(this.$.app).find('#content').on('resize', this.init.bind(this))
        // this.init()
        $(this.$.app).find('[data-path]').click(function (e) {
          console.log($(this).data('path').replace('~', os.homedir()))
          $('fm-app')[0].renderDir($(this).data('path').replace('~', os.homedir()))
        })

        console.log("Ready")
        $(function () {
          $(this.$.app).addClass(__args.mode || 'standalone')
          $(this.$.app).find('paper-input')[0].value = __args.filename
          console.log(__args.filename, $(this.$.app).find('paper-input')[0].value)
          $('fm-app')[0].renderDir()
        }.bind(this))
      }

      static get is() {
        return 'fm-app';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          layout: {
            type: String,
            value: "standalone"
          },

          directory: {
            type: String,
          }
        }
      }

      // Add methods to the element's public API
      greetMe() {
        console.log(this.greeting);
      }

    }

    // Register the x-custom element with the browser
    customElements.define(FMApp.is, FMApp);
  </script>

</dom-module>