<dom-module id="fm-file">
    <!-- Optional shadow DOM template -->
    <template>
        <style>
            :host {
                display: table-row;
            }
            #file {
                width: 100px;
                margin-top: 10px;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                /* margin-left: 10px; */
            }

            img {
                width: 48px;
                height: 48px;
            }

            #filename {
                width: 100px;
                word-wrap: break-word;
                text-align: center;
                color: #323232;
            }
        </style>

        <!-- shadow DOM for your element -->
        <td>
                <img src="icons/{{icon}}.png" />
                <div id="filename">{{filename}}</div>
        </td>
        <td class="date">{{date}}</td>
        <td class="size">{{size}}</td>
    </template>

    <script>
        // Define the element's API using an ES2015 class
        class FMFile extends Polymer.Element {

            static get is() {
                return 'fm-file';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    filename: {
                        type: String
                    },

                    isdir: {
                        type: Boolean,
                        value: false
                    },
                    date: String,
                    size: String
                }
            }

            // Add methods to the element's public API
            greetMe() {
                console.log(this.greeting);
            }

            ready() {
                super.ready()
                let ext = this.filename.slice(this.filename.lastIndexOf('.') + 1)
                // console.log(ext)
                this.icon = 'text'

                if (ext == 'mp3') {
                    this.icon = 'audio'
                }

                if (ext == 'png') {
                    this.icon = 'image'
                }

                if (ext == 'py') {
                    this.icon = 'python'
                }

                if (ext == 'zip') {
                    this.icon = 'archive'
                }

                if (this.isdir) {
                    this.icon = 'folder'
                }

                // console.log(this.isdir)
            }

        }

        // Register the x-custom element with the browser
        customElements.define(FMFile.is, FMFile);
    </script>

</dom-module>